/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
body,
h4,
h5 {
  font-family: 'Libre Baskerville', serif;
  color: #2b0f16;
}
h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  color: #2b0f16;
}
h1 {
  font-size: 8rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:500px) {
  header {
    justify-content: flex-start;
  }
}
header .navBox {
  width: 100%;
  height: 3.5vh;
  margin: 0 auto;
  background: #2b0f16;
  display: flex;
}
@media (max-width:500px) {
  header .navBox {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
  }
}
header .navBox nav {
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width:500px) {
  header .navBox nav {
    width: 20%;
    flex-direction: column;
  }
}
header .navBox nav a {
  width: 20%;
  color: #F3C65D;
  text-decoration: none;
  font-size: 1.4rem;
}
header .navBox nav a:hover {
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 1%;
  color: #2b0f16;
}
@media (max-width:500px) {
  header .navBox nav a {
    width: 60%;
  }
}
footer {
  height: 3.5vh;
  padding: 1%;
  display: flex;
  justify-content: center;
  background: #ffe3ab;
}
footer h4 {
  color: #c0200f;
}
.home {
  width: 100%;
  /*Sidebar button
--------------------------------------------*/
}
.home .topBox {
  background-image: url(/images/dinnerTableW.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home .topBox img {
  width: 50%;
  margin: 5% 0 0 12%;
}
.home #sidebar {
  background: #F5F5F5;
  width: 40%;
  margin-top: 5%;
  padding: 1%;
  height: 80%;
  display: block;
  position: absolute;
  right: -40%;
  top: 0px;
  transition: left 1.2s linear;
  font-family: 'Lato', sans-serif;
  font-size: 5rem;
}
.home #sidebar.visible {
  right: 0;
  transition: right 1.1s linear;
}
.home #sidebar-btn {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 15px;
  cursor: pointer;
  margin: 20px;
  position: absolute;
  top: 0px;
  left: -60px;
}
.home #sidebar-btn span {
  height: 3px;
  background: #2b0f16;
  margin-bottom: 5px;
  display: block;
}
@media (max-width:500px) {
  .home #sidebar-btn span {
    background: #F5F5F5;
  }
}
.home .midPage {
  background: #ffe3ab;
  height: 230vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width:1000px) {
  .home .midPage {
    height: 220vh;
  }
}
@media (max-width:800px) {
  .home .midPage {
    height: 270vh;
  }
}
@media (max-width:500px) {
  .home .midPage {
    height: 200vh;
  }
}
.home .midPage .midTop {
  background: #F5F5F5;
  color: #2b0f16;
  width: 50%;
  margin: 1%;
  padding: 0.5%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width:800px) {
  .home .midPage .midTop {
    width: 95%;
  }
}
.home .midPage .center {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home .midPage .center .centrBoxes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width:1000px) {
  .home .midPage .center .centrBoxes {
    margin: 5%;
  }
}
@media (max-width:800px) {
  .home .midPage .center .centrBoxes {
    margin: 2%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}
.home .midPage .center .centrBoxes img {
  width: 65%;
  margin: 1.5%;
}
@media (max-width:800px) {
  .home .midPage .center .centrBoxes img {
    width: 90%;
    margin: 2% 0;
  }
}
@media (max-width:500px) {
  .home .midPage .center .centrBoxes img {
    margin: 2% 0;
  }
}
.home .midPage .center .centrBoxes .inner {
  width: 25%;
  margin: 2%;
}
@media (max-width:800px) {
  .home .midPage .center .centrBoxes .inner {
    width: 90%;
    margin: 5% 0;
  }
}
.home .midPage .center .centrBoxes .reverse {
  display: flex;
}
@media (max-width:800px) {
  .home .midPage .center .centrBoxes .reverse {
    flex-direction: column;
    align-items: center;
  }
}
.home .bottomPage {
  background-image: url(/images/mussels.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.home .bottomPage .bottomTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: black;
}
.home .bottomPage .bottomTop h2 {
  color: white;
}
.home .bottomPage .bottomBox {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.home .bottomPage .bottomBox .bottomMid {
  margin: 20%;
  padding: 2%;
  width: 40%;
  height: 20vh;
  border-radius: 10px;
  background: #F5F5F5;
}
@media (max-width:800px) {
  .home .bottomPage .bottomBox .bottomMid {
    width: 60%;
  }
}
.home .bottomPage .bottomBox .bottomMid a {
  text-decoration: none;
}
.home .bottomPage .bottomBox .bottomMid h3,
.home .bottomPage .bottomBox .bottomMid p {
  color: #39491C;
}
.home .bottomPage .bottomBox .bottomMid .mid {
  width: 50%;
}
.home .bottomPage .bottomBox .bottomMid .mid h4,
.home .bottomPage .bottomBox .bottomMid .mid p {
  color: #F5F5F5;
}
.home .bottomPage .bottomBox a button {
  height: 5vh;
  background: #c0200f;
  color: #ffe3ab;
  font-size: 3.5rem;
  border-radius: 10px;
}
.home .bottomPage .bottomBox a button:hover {
  background: #ffe3ab;
  color: #c0200f;
}
