#about {
    height: 100vh;
    
    // display:flex;   
    // justify-content: flex-end;
    .topper {
        background-image: url(/images/skillet.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       height: 100vh;
    }
    

    







}


