#about {
    height: 100vh;
    
    .topper {
        background-image: url("../images/skillet.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       padding: .5%;
    //    display: flex;
    //    justify-content: space-between;
    //    flex-direction: column;
       
    //    @media @desk {
    //         padding:12% 0;
    //    }//closes the media query
    //    @media @tablet {
    //         padding:8%;
    //     }//closes the media query
    //     @media @phone {
    //         padding:6%;
    //     }//closes the media query

        .info {
            width: 80%;
            background: @white;
            border-radius: 10px;
            border: 2px solid @pimentoRed;
            margin: 8% 6%;
            padding: 2%;
            display: flex;
            justify-content: center;

            a{
                text-decoration: none;
            }//closes the anchor

            @media @phone {
                width: 40%;
            }//closes the media query

        }//closes the info  

       .logo {
           display: flex;
           justify-content: flex-end;
           margin: 3%;

           img {
               width:40%;

               @media @phone {
                   width:60%;
               }
           }
            
        }
    }//closes the topper
    
    #middle {
        // height:160vh;
        background: @lightYellow;
        display: flex;
        flex-direction:column;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;

        .deck{
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            @media @desk {
                width: 100%;
            }//closes the media query

            @media @tablet {
                width: 90%;
            }//closes the media query

            @media @phone {
                width: 100%;
            }//closes the media query

            .card {
                width:20%;
                margin: 3%;
                padding: 1% 0;
                border-radius: 15px;
                background: @kalamata;
                border: 2px solid @white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                @media @desk {
                    width: 25%;
                }//closes the media query

                @media @tablet {
                    width: 40%;
                }//closes the media query

                @media @phone {
                    width: 42%;
                }//closes the media query

                h3 {
                    width: 60%;
                    color: @white;
                    text-align: center;
                }//closes the h3

                img {
                    width: 70%;
                    border-radius: 35%;
                    border: 2px solid @lightYellow;
                    margin:5% 0;
                }//closes the img

                h5 {
                    width: 60%;
                    color: @white;
                    text-align: center;
                }//closes the h5

                .fab {
                    font-size: 4rem;
                    margin:4%;
                    color:@white;
                }//closes the icon

            }//closes the card
            
        }//closes the deck

    }//closes the middle
    
}//closes the About


