.home {
    width: 100%;
    
    img {
        background-size: cover;
    }
    

    .topBox {
        
        border: 2px solid @yellow;
        height: 70vh;
        
    }

    
  
   

   
    
    






}