.home {
    width: 100%;

    .imgBox {
       background-image: url(/images/dinnerTableO.png);
       background-size: cover;
       background-repeat: no-repeat;
       height: 60vh;

    }


    
  
   

   
    
    






}