header {
    display:flex;
    justify-content: center;
    align-items: center;
    
    @media @phone {
        justify-content: flex-start;
    }//closes the media query

    .navBox {
        width: 100%;
        height: 3.5vh;
        margin: 0 auto; 
        background: @yellow;
        display: flex;

        @media @phone {
            width: 100%;
            height: 14vh;
            display: flex;
            justify-content: flex-start;
        }//closes the media query
        

        nav {
            width:60%;
            display: flex;
            justify-content: center;
            align-items: center;
            .spacing(space-evenly);
            
            @media @phone {
                width: 25%;
                flex-direction: column;
            }//closes the media query

            a {
                width: 20%;
                color: @kalamata;
                text-decoration: none;
                font-size: 1.4rem;

                &:hover {
                    background-color:@kalamata;
                    border-radius: 5px;
                    padding: 1%;
                    color: @white;

                    @media @phone {
                        padding:3%;
                    }//closes the media query
                }
                @media @phone {
                    width: 60%;
                    
                }//closes the media query

            }//closes the anchor


        }//closes the nav

    }//closes the navBox
    
}//closes the header