// Variables
//Colors
// YELLOW BASE -- #F3C65D
// WHITE BASE -- #F5F5F5
// GREEN BASE -- #39491C
// PURPLE BASE -- #2b0f16
// RED BASE -- #c0200f


// Color Vars
@yellow: #F3C65D;
@lightYellow: #ffe3ab;
@white: #F5F5F5;
@greenOlive: #39491C;
@kalamata: #2b0f16;
@pimentoRed: #c0200f;


